*~
\#*\#
*.o
*.3
nohup.out
*.tex
cwri
Wheel.c
Wlabel.c
Dartboard.c
Ebox.c
Graph1.c
Launcher.c
Radio2.c
SelectReq.c
VBox.c
Wbutton.c
Wcombo.c
WeditMV.c
Wexecgui.c
Wlist.c
WlistScroll.c
Wls.c
Woptc.c
Woption.c
Wsqlcombo.c
Wswitch.c
admpanel
njson-to-wcl
*.lex.c
*.lex.h
*.tab.c
*.tab.h
GPATH
GRTAGS
GTAGS
TAGS
*.kdev4
wbuild/wbuild
experimental/hash_test
experimental/var5-test
compile_commands.json
adminpanel/planung.txt
widreg.c
widreg.h
.cache
.kdev4
.vscode

MenuExample.tar.gz
MenuExample/menu-xaw
MenuExample/xtcw/
WeditMV_test/log
adminpanel/sta
build/
dropdown/xtcw/
ignore
image_view/imt
image_view/xtcw/
timemon/xtcw/
var5-widget/xtcw/
LuaRunner/x
AdmPnl/jsn.c
AdmPnl/kunde-auswahl.ad
AdmPnl/rlayout
AdmPnl/rlayout.c
AdmPnl/sh-to-njson.c
AdmPnl/x.ad
AdmPnl/x1.ad
AdmPnl/xtcw/
LuaRunner/.#luarunner.adp
LuaRunner/email-client.txt
AdmPnl/d.w
AdmPnl/fire.sh
AdmPnl/freigabe-entf.json
AdmPnl/freigabe.ad
AdmPnl/jsn
LuaRunner/luarunner.ad
njson_lex.lex.c
njson_lex.lex.h
mls/*

