#!/usr/bin/make -f
# debian/rules for the Debian libxaw package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>
# Copyright © 2005 Daniel Stone <daniel@fooishbar.org>
# Copyright © 2005 David Nusinow <dnusinow@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = libxaw

%:
	dh $@ --with quilt --builddirectory=build/

docflags = --enable-specs

override_dh_auto_configure-arch: docflags = --disable-specs
override_dh_auto_configure-arch override_dh_auto_configure-indep:
	dh_auto_configure -- \
		--docdir=\$${datadir}/doc/libxaw7-dev \
		--disable-xaw6 \
		--with-xmlto --without-fop \
		--disable-silent-rules \
		$(docflags)

override_dh_install:
	find debian/tmp/ -name '*.la' -exec rm '{}' ';'
	dh_install

override_dh_strip:
	dh_strip --dbgsym-migration='$(PACKAGE)-dbg (<< 2:1.0.14-1~)'

override_dh_compress:
	dh_compress -X.xml
